<div class="page">
    <header class="bonui-header">
        <div class="bonui-header__mn">
            <div class="bonui-header__menu">
                <i class="bonui-icon-back"></i>
            </div>
            <div class="bonui-header__bd">BUTTON</div>
            <div class="bonui-header__menu">
                <i class="bonui-icon-delete"></i>
            </div>
        </div>
    </header>
    <article class="bonui-article">
        <div class="swiper-container article-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div style="padding:0.9375rem;">
                        <a class="bonui-btn bonui-btn_c1">Button C1</a>
                        <a class="bonui-btn bonui-btn_c1_plain">Button C1 Plain</a>
                        <a class="bonui-btn bonui-btn_c1_plain bonui-btn_plain-disabled">Button C1 Plain</a>
                        <button class="bonui-btn bonui-btn_primary" id="showAlert1">alert 有标题</button>
                        <button class="bonui-btn bonui-btn_primary" id="showAlert2">alert 无标题</button>
                        <button class="bonui-btn bonui-btn_big bonui-btn_primary" id="showConfirm_1">Confirm 1</button>
                        <button class="bonui-btn bonui-btn_big bonui-btn_primary" id="showConfirm_2">Confirm 2</button>
                        <button class="bonui-btn bonui-btn_primary" >button</button>
                        <button class="bonui-btn bonui-btn_primary bonui-btn_disabled">按钮</button>
                        <a href="javascript:;" class="bonui-btn bonui-btn_default">页面次要操作 Normal</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_disabled bonui-btn_default">页面次要操作 Disabled</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_warn">警告类操作 Normal</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_disabled bonui-btn_warn">警告类操作 Disabled</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_plain-default">按钮</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_plain-default bonui-btn_plain-disabled">按钮</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_plain-primary">按钮</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_plain-primary bonui-btn_plain-disabled">按钮</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_plain-warn">按钮</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_plain-warn bonui-btn_plain-disabled">按钮</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_mini bonui-btn_primary">按钮</a>
                        <a href="javascript:;" class="bonui-btn bonui-btn_default bonui-btn_block">页面次要操作 Normal</a>
                    </div>
                </div>
            </div>
            <!-- Add Scroll Bar -->
            <div class="swiper-scrollbar article-swiper-scrollbar"></div>
        </div>
    </article>
    <footer class="bonui-footer ">
        <div class="bonui-footer__mn bonui-tab">
            <div class="bonui-tab__mn">
                <div class="bonui-tab__item">
                    <div class="bonui-tab__item__mn">
                        <i class="bonui-icon-delete"></i>
                        <div class="bonui-tab__text">首页</div>
                    </div>
                </div>
                <div class="bonui-tab__item">
                    <div class="bonui-tab__item__mn">
                        <i class="bonui-icon-delete"></i>
                        <div class="bonui-tab__text">首页</div>
                    </div>
                </div>
                <div class="bonui-tab__item">
                    <div class="bonui-tab__item__mn">
                        <i class="bonui-icon-delete"></i>
                        <div class="bonui-tab__text">首页</div>
                    </div>
                </div>
                <div class="bonui-tab__item">
                    <div class="bonui-tab__item__mn">
                        <i class="bonui-icon-delete"></i>
                        <div class="bonui-tab__text">首页</div>
                    </div>
                </div>
                <div class="bonui-tab__item">
                    <div class="bonui-tab__item__mn">
                        <i class="bonui-icon-delete"></i>
                        <div class="bonui-tab__text">首页</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>