<div class="page">
    <header>FLEX</header>
    <article>
        <div class="swiper-container article-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bonui-flex">
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                    </div>
                    <div class="bonui-flex">
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                    </div>
                    <div class="bonui-flex">
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                    </div>
                    <div class="bonui-flex">
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                    </div>
                    <div class="bonui-flex">
                        <div><div class="placeholder">bonui</div></div>
                        <div class="bonui-flex__item"><div class="placeholder">bonui</div></div>
                        <div><div class="placeholder">bonui</div></div>
                    </div>
                </div>
            </div>
            <!-- Add Scroll Bar -->
            <div class="swiper-scrollbar article-swiper-scrollbar"></div>
        </div>
    </article>
    <footer>footer</footer>
</div>
