<div class="page">
    <header class="bonui-header">
        <div class="bonui-header__mn">
            <div class="bonui-header__menu">
                <i class="bonui-icon-back"></i>
            </div>
            <div class="bonui-header__bd">inputs</div>
            <div class="bonui-header__menu">
                <i class="bonui-icon-delete"></i>
            </div>
        </div>
    </header>
    <article class="bonui-article">
        <div style="padding:0.9375rem 0;">
            <div class="bonui-cells_form">
                <div class="bonui-cell">
                    <div class="bonui-cell__hd"><label class="bonui-label">qq</label></div>
                    <div class="bonui-cell__bd"></div>
                </div>
                <div class="bonui-cell">
                    <div class="bonui-cell__hd"><label class="bonui-label">qq</label></div>
                    <div class="bonui-cell__bd">
                        <input class="bonui-input" type="number" pattern="[0-9]*" placeholder="请输入qq号">
                    </div>
                </div>
                <div class="bonui-cell bonui-cell_vcode">
                    <div class="bonui-cell__hd">
                        <label class="bonui-label">手机号</label>
                    </div>
                    <div class="bonui-cell__bd">
                        <input class="bonui-input" type="tel" placeholder="请输入手机号">
                    </div>
                    <div class="bonui-cell__ft">
                        <button class="bonui-vcode-btn">获取验证码</button>
                    </div>
                </div>
                <div class="bonui-cell">
                    <div class="bonui-cell__hd"><label for="" class="bonui-label">日期</label></div>
                    <div class="bonui-cell__bd">
                        <input class="bonui-input" type="date" value="">
                    </div>
                </div>
                <div class="bonui-cell">
                    <div class="bonui-cell__hd"><label for="" class="bonui-label">时间</label></div>
                    <div class="bonui-cell__bd">
                        <input class="bonui-input" type="datetime-local" value="" placeholder="">
                    </div>
                </div>
                <div class="bonui-cell bonui-cell_vcode">
                    <div class="bonui-cell__hd"><label class="bonui-label">验证码</label></div>
                    <div class="bonui-cell__bd">
                        <input class="bonui-input" type="number" placeholder="请输入验证码">
                    </div>
                    <div class="bonui-cell__ft">
                        <img class="bonui-vcode-img" src="./images/vcode.jpg">
                    </div>
                </div>
            </div>
        </div>

    </article>
    <footer>footer</footer>
</div>