<div class="page">
    <header>toast</header>
    <article>
        <div class="swiper-container article-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:;" class="bonui-btn bonui-btn_default" id="showToast">成功提示</a>
                    <a href="javascript:;" class="bonui-btn bonui-btn_default" id="showLoadingToast">加载中提示</a>
                </div>
            </div>
            <!-- Add Scroll Bar -->
            <div class="swiper-scrollbar article-swiper-scrollbar"></div>
        </div>
    </article>
    <footer>footer</footer>
</div>
